/* ------------------- RESET ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #0f0f0f;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}